{% extends "seguridad/layout/base.html" %}

{% block title %}Profile{% endblock %}
{% block header %}Perfil{% endblock %}
{% block content %}
<div class="d-grid gap-2 col-md-6 mx-auto">
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username" class="form-label">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div>
            <label for="id_email" class="form-label">Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            <label for="id_email" class="form-label">Nombre</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>
        <div>
            <label for="id_email" class="form-label">Apellido</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>

        <div class ='d-grid gap-2 col-md-6 mx-auto'>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div>
{% endblock %}
