{% extends "seguridad/layout/base.html" %}

{% block title %}Register{% endblock %}
{% block header %}Registro{% endblock %}
{% block content %}

<div class="d-grid gap-2 col-md-6 mx-auto">
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username" class="form-label">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div>
            <label for="id_email" class="form-label">Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            <label for="id_password1" class="form-label">Password</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div>
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
        <div>
            <label for="id_password2" class="form-label">Confirmacion Password</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <div>
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
        <div class='d-grid gap-2 col-md-6 mx-auto'>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div>
{% endblock %}